<div [@flipIn] class="container">
  <mat-card  class="grid" style="background-color: #7f90ff" (click)="userScreen()">
<span class="material-icons">manage_accounts</span>
    <p class="heading-text" >User Management</p>
  </mat-card>
  <mat-card class="grid" style="background-color: #9d7af4">
    <span class="material-icons">shop_two</span>
    <p class="heading-text">Purchase</p>
  </mat-card>
  <mat-card class="grid"  style="background-color: #8157f6">
    <span class="material-icons">local_grocery_store</span>
    <p class="heading-text"> Store </p>
  </mat-card>
  <mat-card class="grid" style="background-color: rgba(13,171,232,0.63)">
    <span class="material-icons" >assured_workload</span>
    <p class="heading-text"> Bill Of Materials</p>
  </mat-card>
  <mat-card class="grid" style="background-color: #47b7ca">
    <span class="material-icons">stacked_bar_chart</span>
    <p class="heading-text"> Analytics </p>
  </mat-card>
</div>
