<div [@flipIn] class="container">
  <div class="top-panel">
    <div>
      <img src="assets/person.jfif" class="photo" alt="img">
    </div>
    <div class="name">superadmin</div>
<!--    <div class="privileges" (click)="privileges()">Privileges </div>-->

  </div>
  <div class="bottom-panel">
    <h4 class="mt-3 mb-3">Overview</h4>
    <p>Email: superadmin@gmail.com</p>
    <p>Role:  Super Admin</p>
    <p>Department: Store, Purchase, Analytics </p>
    <div style="display: flex; align-self: center; margin: 8%">
    <button mat-raised-button type="button" color="primary" (click)="back()" >Back</button>
    </div>
  </div>
</div>
